* {
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;

}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    flex: 0.5;
    color: #BFCACE;
    padding: 10px;
    transition: flex 0.5s ease-in;
    cursor: pointer;
    
}

.card-1 {
    background-color: #5A66F0;
}

.card-2 {
    background-color: #E95A67;
}

.card-3 {
    background-color: #1D1B1D;
}

.card.active {

    flex: 1;
    color: #fff;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0px 10px;
    background: transparent;
    align-items: center;
}
header i {
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s ease-in;
}

header .logo {
    font-size: 40px;
    transition: 0.5s ease-in;
}

.card .text {
    font-size: 40px;
    line-height: 80px;
    text-transform: uppercase;
    margin-top: 130px;
    color: #BFCACE;
    display: flex;
    transition: 0.5s ease-in;
}


.text .image {
    
    margin-left: -40px;
    transition: 0.5s ease-in; 
    margin-top: -30px;
  
}

.text h2{
    z-index: 1;
}

.image img{
    height: 250px;
    width: 250px;
    
}

footer {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    background-color: transparent;
    margin-top: 100px;
    transition: 0.5s ease-in;
}

footer h2 {
    font-weight: lighter;
    font-size: 16px;
}

.first,
.second,
.third {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
}

footer img {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -120px;


}



.inactive footer .third {
    display: none;

}

.inactive .text img {
    display: none;

}

.card.active .text {
    color: #fff;
    margin-left: 30px;
    font-size: 50px;
    text-transform: capitalize;
    line-height: 100px;

}

.card.active .text h2 {
    margin-top: 30px;

}

.card.active footer {
    font-size: 38px;
    margin-top: 58px;
}

.card.active .text img {
    width: 400px;
    height: 400px;
    margin-left: 40px;
    margin-top: -100px;
}

@media(max-width:850px) {

    footer .third {
        display: none;
    }

    footer .first {
        margin-right: 20px;
    }

    .card.active {
        flex: 3;
    }

}