*{
    box-sizing: border-box;
}

body{
    font-family: 'Mukta', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container{
    display: flex;
    width: 100%;
    
}
.card{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    flex: 0.5;
    color: beige;
    padding: 10px;
    transition: flex 0.5s ease-in;
    cursor: pointer;
}

.card-1{
    background-color: #5A66F0;
}
.card-2{
    background-color: #E95A67;
}
.card-3{
    background-color: #1D1B1D;
}
.card.active{
    
    flex: 2;
    
}

/* .card-opaque{
    background-color: black;
    width: 100%;
    height: 100vh;
    
    opacity: 0.7;
} */

/* .card.active .card-opaque{
    opacity: 0;
} */

header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0px 10px;
    background: transparent;
    align-items: center;
    
}

header i{
    font-size: 30px;
    cursor: pointer;
}

header .logo{
    font-size: 40px;
}



.card .text{
   font-size: 40px; 
   line-height: 80px;
   text-transform: uppercase;
   margin-top: 130px;
   color: #BFCACE;
   display: flex;
}

.card.active .card.text{
    color: #fff;
}

.text img{
    width: 150px;
    height: 150px;
    margin-left: -20px;
}

footer{
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px;
    /* background-color: beige; */
    
    justify-content: space-between;
    background-color: transparent;
    margin-top: 110px;
}

footer h2{
    font-weight: lighter;
    font-size: 16px;
}

.first, .second, .third{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

footer img{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -120px;
    
   
}

.inactive footer .third{
    display: none;

}
.inactive .text img{
    display: none;
   
}
.card.active footer {
font-size: 38px;  
}

.card.active .text img{
    width: 350px;
    height: 350px;
    margin-left: 50px;
    margin-top: -100px;
}

@media(max-width:850px){
    
    footer .third{
        display: none;
    }
    footer .first{
        margin-right: 20px;
    }
}